*{
    box-sizing:border-box;
}

.tableContainer {
    /* color: #61dafb; */
  /* background-color: #282c34; */
  display:flex;
  justify-content: center;
  margin:20px;
  

}

table {
    margin:0;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.9);
    padding:50px ;
    background:#282c34;
    color:white
    /* padding:20px; */
}
thead tr {
    font-size:25px;
    text-transform: uppercase;
    border-bottom: 1px solid white;
    padding:10px 0;
    margin-bottom:10px;
}

tbody {
    background:#282c34
}

td {
    padding:0 20px;
}